/* Defaults */
:root {
	--font-family: "PT Serif Caption", -apple-system, system-ui, sans-serif;
	--font-family-display: "Alte Haas Grotesk", sans-serif;
	--font-family-text: "PT Serif Caption", Times New Roman, -apple-system,
		system-ui, sans-serif, serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/* Theme colors */
:root {
	--color-black: #1f2421;
	--color-pink: #e8667c;
	--color-yellow: #e8dd66;

	--background-color: #fffaf2;

	--text-color: var(--color-black);
	--text-color-link: var(--color-black);
	--text-color-link-active: var(--color-pink);

	--noise-size: 64;
	--syntax-tab-size: 2;

	--z-bottom: 1;
	--z-middle: 2;
	--z-top: 3;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-gray-90: #f1f2eb;

		--background-color: #333;
	}
}
 */
/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	font-family: var(--font-family-text);
	text-align: justify;
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
	text-decoration: none;
}

a[href]:hover {
	color: var(--color-pink);
}

a[href]:active {
	color: var(--text-color-link-active);
}

img {
	width: 100%;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em 0.5em;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
}

.copyright {
	margin: 0;
}

/* Nav */
.nav__list {
	text-transform: lowercase;
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	text-underline-offset: 0.3em;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration-thickness: 3px;
	text-underline-offset: 0.5em;
	font-weight: 600;
}

/* Posts list */
.postlist {
	display: flex;
	flex-direction: column;
	gap: 1.25em;
	font-family: var(--font-family-text);
	list-style: none;
	padding: 0;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	padding-right: 0.5em;
}
/* .postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em;
	color: var(--color-gray-90);
} */
.postlist-date {
	font-size: 0.8em;
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.3rem;
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	text-decoration: none;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

.header {
	margin: 2em 0;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: center;
}

.nav__list {
	display: flex;
	gap: 2em;
}

.cover__image {
	height: 100vh;
	width: auto;
}

.hero {
	position: relative;
	display: flex;
	max-width: 900px;
	min-height: 420px;
	font-family: var(--font-family-display);
	font-size: 3rem;
	font-weight: 700;
	padding: 0 0.5em;
	margin: 2.5em auto 1em;
}

.hero__title {
	line-height: 0.8em;
	z-index: var(--z-top);
}

.hero__title--highlighted {
	background-color: var(--color-pink);
	padding: 10px 15px;
	border: solid 3px var(--color-black);
}

.hero__title--serif {
	font-family: var(--font-family-text);
	font-size: 3rem;
	font-style: italic;
}

.hero__title--far-away {
	margin-left: 2em;
}

.hero__text {
	font-family: var(--font-family-text);
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.5em;
	margin-top: 4em;
}

.hero__cover {
	width: 60%;
	height: 100%;
	max-width: 410px;
	position: absolute;
	right: 0;
	z-index: var(--z-bottom);
}

.hero__cover img {
	width: 100%;
	height: auto;
}

.footer {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 1em 0;
	z-index: var(--z-top);
	overflow: hidden;
}

.footer__text {
	display: inline-block;
	color: var(--color-pink);
	font-size: 1.5rem;
	white-space: nowrap;
	margin: 0.25em 0;
	animation: move-left-to-right linear 12.5s infinite;
}

.footer__text--backwards {
	animation: move-left-to-right linear 12.5s infinite reverse;
}

.fabric {
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	background-image: url("/img/fabric.jpg");
	background-size: calc(0.05px * var(--noise-size));
	pointer-events: none;
	opacity: 0.12;
	z-index: 980;
}

@media (max-width: 992px) {
	a[href]:active {
		color: var(--color-yellow);
	}

	a[href] {
		padding: 0.25em 0.5em;
	}

	a[href]:hover {
		color: var(--color-black);
		background-color: var(--color-yellow);
		border: solid 1px var(--color-black);
		padding: 0.25em 0.5em;
	}

	.nav {
		font-size: 0.75rem;
	}

	.hero {
		position: static;
		margin: 0.25em auto;
	}

	.hero__title {
		width: min-content;
		font-size: 0.75em;
		line-height: 1em;
		margin: 0.5em auto 0;
		padding-right: 1em;
	}

	.hero__title--highlighted {
		padding: 0.15em 0.25em;
		margin-left: 1em;
		line-height: 2em;
		background-color: var(--color-yellow);
		border: solid 2px var(--color-black);
	}

	.hero__title--serif {
		font-size: 1em;
	}

	.hero__text {
		display: none;
	}

	.hero__cover {
		max-width: unset;
		width: 150%;
		height: 92.5%;
		bottom: 0;
		z-index: var(--z-bottom);
		overflow: hidden;
	}

	.footer__text {
		font-family: var(--font-family-text);
		font-style: italic;
		color: var(--color-black);
		font-size: 1.25rem;
		background-color: var(--color-yellow);
		border: solid 1px var(--color-black);
	}
}

@keyframes move-left-to-right {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-50%);
	}
}
