---
layout: layouts/base.njk
---

<section class="about">
	<p class="about-text">I work in software engineering building engaging acquisition
		experiences for <a href="https://www.itau.com.br/" target="_blank">Itaú</a>.</p>
	<p class="about-text">
		Based in Brazil, I love to solve problems and help people as I can, while also experimenting with the Web in the meantime.
	</p>
	<p class="about-text">I also play a lot of volleybal and read some manga.</p>
</section>

{{ content | safe }}
