---
layout: layouts/base.njk
---

<section class="about">
	<p class="about-text">Hey, I'm Hierro and I work in software engineering.</p>
	<p class="about-text">
		Currently living in Brazil. I like to work with Web regardless of the
		technologies involved and I am currently building engaging acquisition
		experiences for Itaú.
	</p>
	<p class="about-text">I also play volleybal a lot.</p>
</section>

{{ content | safe }}
